body{
    height: 100vh;
    background-color: brown;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a img{
    width: 45px;
    height: 45px;
}
img{
    margin-top: 10%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    background-color: red;
}
main{
    display: grid;
    place-items: center;

}
article{
    margin-top: 5%;
    width: 50%;
    font-size: 18px;
    color: cadetblue;
}
.content_social{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content_social a{
    text-decoration: none;
    list-style: none;
}