body{
    height: 100vh;
    background-color: brown;
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all 1s;
}
a img:nth-child(n):hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 1s ;
}
.img_profile{
    margin-top: 10%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 4px groove green;
}
.nombre{
    height: 50%;
    margin-top: 1%;
    margin-left: 2%;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: red;
}
main{
    display: grid;
    place-items: center;

}
article{
    margin-top: 5%;
    width: 50%;
    font-size: 18px;
    color: cadetblue;
}
.content_social{
    height: 100%;
    width: max(20%,200px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content_social a{
    text-decoration: none;
    list-style: none;
}